<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="com.great.mapper.MenuMapper">
	<select id="queryAllMenu" resultType="HashMap">
		select a.MENU_ID "menuId",a.MENU_NAME "menuName",a.MENU_URL "menuUrl",a.MENU_PID "menuPid",a.MENU_SEQ "menuSeq",  
		b.MENU_NAME "menuPname" from T_MENU a,T_MENU b where a.MENU_PID=b.MENU_ID
	</select>
	<select id="" resultType="HashMap">
		select MENU_ID "menuId",MENU_NAME "menuName",MENU_URL "menuUrl",MENU_SEQ "menuSeq",MENU_PID "menuPid"
	</select>
</mapper>